html,
html::before,
html::after {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body,
.wrapper {
    width: 100%;
    height: 100%;
}

body {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.42;
    font-family: 'Fira Sans', Arial, sans-serif;
    color: #ffffff;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #999999;
}

.container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.app {
    display: flex;
    flex-direction: column;
    width: 620px;
    border-radius: 10px;
    overflow: hidden;
}

.app__title {
    position: relative;
    padding: 13px 0;
    font-size: 16px;
    background-color: #ff8663;
}

.app__title::before,
.app__title::after {
    content: '';
    position: absolute;
    top: 16px;
    right: 18px;
    display: block;
    width: 4px;
    height: 18px;
    background: #ffffff;
    transform-origin: center;
}

.app__title::before {
    transform: rotate(45deg);
}

.app__title::after {
    transform: rotate(-45deg);
}

.app__search-wrapper {
    background-color: #f0f0f0;
}

.search__item {
    width: 50%;
    padding: 10px 0;
}

.search__item--left {
    padding-right: 10px;
}

.search__item--right {
    padding-left: 10px;
}

.search__container {
    display: flex;
}

.search__label {
    position: relative;
}

.search__icon {
    position: absolute;
    top: 0;
    left: 7px;
    color: #9f9f9f;
}

.search__field {
    width: 100%;
    padding: 8px 15px 8px 28px;
    font-weight: 300;
    border: 0;
    border-radius: 25px;
}

.app__friends {
    display: flex;
    width: 100%;
    height: 355px;
    color: #4f4f4f;
    background-color: #ffffff;
}

.friends__container {
    display: flex;
    width: 100%;
    height: 100%;
}

.friends__title {
    padding-top: 10px;
    padding-bottom: 4px;
    font-size: 12px;
    border-bottom: 1px solid #f0f0f0;
}

.friends__column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.friends__column--left {
    border-right: 1px solid #f0f0f0;
}

.friends__list {
    flex: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}

.friends__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 6px;
}

.friends__item:focus {
    background-color: #f0f0f0;
    outline: 0;
}

.friends__item--custom {
    position: relative;
    z-index: 100;
}

.friends__image {
    width: 45px;
    height: 45px;
    margin-right: 7px;
    border-radius: 50%;
    overflow: hidden;
}

.friends__picture {
    max-width: 100%;
}

.friends__item-move {
    position: absolute;
    top: 20px;
    right: 13px;
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.friends__list--custom .friends__item-move {
    transform: rotate(45deg);
}

.friends__item-move::before,
.friends__item-move::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 0;
    bottom: 0;
    width: 4px;
    border-radius: 5px;
    background-color: #c4c4c4;
    transform-origin: center;
}

.friends__item-move::after {
    transform: rotate(90deg);
}

.app__bottom {
    display: flex;
    justify-content: flex-end;
    padding: 7px;
    background-color: #f0f0f0;
}

.button {
    padding: 8px 17px 8px 15px;
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;
    background-color: #ff8663;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.button:active {
    background-color: #fb6c43;
}

::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 5px;
    height: 0px
}

 ::-webkit-scrollbar-track {
    background-color: rgba(236, 237, 238, 1);
}

 ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 5px;
    background-color: rgba(196, 196, 196, 1);
}

 ::-webkit-scrollbar-thumb:active {
    background-color: #555555;
}

 ::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}

 ::-webkit-scrollbar {
    width: 4px;
}

